.quarto-about-jolla {
  width: 50vw; /* or 100% to occupy the entire width of its parent */
}

main#quarto-document-content {
  width: 100%;
  text-align: left; 
}

.center-content {
    text-align: center;
}