/*-- scss:defaults --*/
// Base document colors
$body-bg: white;
$body-color: black;
// $navbar-bg: #333;  // Background color for the navbar
// $navbar-fg: #202020; // The color of foreground elements (text and navigation) on the navbar.

// Code blocks
$code-block-bg-alpha: -.8;