/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;
$navbar-bg: #333;  // Background color for the navbar
$navbar-fg: white; // The color of foreground elements (text and navigation) on the navbar.

// Code blocks
$code-block-bg-alpha: -.8;